<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo_experience.png" alt="Logo">
            <Span class="ms-3" style="font-size:20px; color:red;">Settings</Span>
        </div>
        <div>
            <button class="btn" style="color:red;">Save & Exit</button>
        </div>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-6 px-5 py-5 steps-frame-height h-md-auto overflow-y-auto">
            <form>
                <div>
                    <h2>Set your Availability</h2>
                    <p>As a host it is very important that you keep your availability accurate.</p>
                </div>
                <div>
                    <div class="text-center day-box"> 
                        <span>Single Day Slots</span>
                    </div>
                </div>
                <div class="my-3">
                    <div class="my-2">
                        <label for="slot-size">Slot Size (In Hours)</label>
                        <input type="text"  id="slot-size" placeholder="please enter size" class="form-control w-50">
                    </div>
                </div>
                <div>
                    <div>
                        <span>Set Schedule</span>
                    </div>
                    <div class="card"> 
                        <div *ngFor="let data of dayArray" class="px-2 d-flex d-flex justify-content-between">
                            <div>
                                <div>
                                    <input [type]=data.type [id]=data.id>
                                    <label [for]=data.id class="ms-2">{{data.day}}</label>
                                </div>
                            </div>
                            <div>
                                <img src="../../../assets/add_circle_outline.png" alt="">    <span>Add time slots</span>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 text-center px-md-0 d-none d-md-block">
            <div class="my-5 px-5">
                <div class="card w-75">
                    <div class="p-3">
                        <div>
                            <img src="../../../assets/lightbulb.png" alt="">
                        </div>
                        <div class="p-3">
                            <h6>
                                Quick tips for quality photos
                            </h6>
                            <p>.Use high quality photos to make <br> your listing stand out</p>
                            <p>.Make sure you have good lighting</p>
                            <p>.Show off your listing</p>
                            <p>.Use recent and up to date pictures</p>
                            <p>.Add multiple photos to attract <br> guests</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>