<app-header></app-header>
<section class="section">
    <div class="container my-4">
        <div class="row">
            <h6 class="heading">My Account</h6>
            <p>henceforth mohali,<span>forth@gmail.com</span>
            </p>
        </div>
        <div class="row gy-3">
            <div class="col-md-4">
                <div class="card shadow-sm" routerLink="/personal-info" >
                    <div class="card-body">
                        <img src="../../../assets/personal_info.png" class="mt-2" alt="personal_info">
                        <span class="ms-4"><strong>Personal Info</strong></span>
                        <img class="ms-2" src="../../../assets/right_arrow.png" alt="Arrow">
                        <p class="text-muted mt-3">Personal details</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 " routerLink="/changePassword">
                <div class="card" routerLink="/update-password">
                    <div class="card-body">
                        <img src="../../../assets/change_password.png" class="mt-2" alt="Change Password">
                        <span class="ms-4"><strong>Change Password</strong></span>
                        <img class="ms-2" src="../../../assets/right_arrow.png" alt="Arrow">
                        <p class="text-muted  mt-3">Update your password and secure your account</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" routerLink="/settings">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/notification_setting.png" class="mt-2" alt="Setting">
                        <span class="ms-4"><strong>Notification Settings</strong></span>
                        <img class="ms-2" src="../../../assets/right_arrow.png" alt="Arrow">
                        <p class="text-muted mt-3">Review payment,payout,coupons,Gift cards and Taxes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
<app-footer></app-footer>