<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex justify-content-between">
        <div>
            <img src="../../../assets/logo.svg" alt="Logo">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p style="font-size: 32px; font-weight:600">Hi henceforth,<br>
                let's get started listing <br> your space.
            </p>
            <span>STEP 1</span>
            <p style="font-size:20px ; font-weight:400;">What kind of place do you have?</p>
            <p style="color:red;">Please note if you offer multiple services,<br> you must create an individual listing
                per category.</p>
            <div>
                <form [formGroup]="createOwnListingForm" (ngSubmit)="createOwnListing(createOwnListingForm.value)">
                    <div class="mt-3">
                        <div>
                            <select class="form-select dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false" aria-label="Default select example">
                                <option class="dropdown-item" selected>Choose stall type</option>
                                <option class="dropdown-item" value="Short term stall">short term stall</option>
                                <option class="dropdown-item" value="Monthly Board">Monthly board</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p style="font-size:20px ; font-weight:400;" class="mt-2">Create a title for your listing?</p>
                        <p>Catch guest's attention with a listing title that <br> highlights what makes your place
                            special. <br> This can not be your business name.
                        </p>
                    </div>
                    <div>
                        <input type="text" formControlName="title" class="form-control" style="width: 70%;" placeholder="Enter Title">
                        <input type="submit" class="btn mt-3" routerLink="/create-stalls/step3" style="background-color:red ;" value="continue">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img src="../../../assets/image.png" width="500px" height="500px" alt="">
            </div>
        </div>
    </div>
</div>