*{box-sizing: border-box;}

.header{
    align-items: center;
}
.row{
    margin: 0px;
    padding: 0px;
}
.card-img-overlay {
    justify-content: center;
    align-items: center;
    font-size:45px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr{
    border: 2px solid rgb(209, 14, 14);
    width: 100px;
    margin: auto;
    opacity: 1;
}
.box{
    padding: 30px 40px;
    margin: auto;
    width: 400px;
}
.row3{
    background-color: red;
    color: white;
}
.flex{
    flex-direction: column;
    display: flex;
    justify-content: center;
    // align-items:center ;
}
.bg-white{
width: 200px;
}