<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo.svg" alt="Logo">
        </div>
        <div>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>
<div class="card intro-horse text-white">
    <img src="../../../assets/banner.jpg" class="card-img" alt="...">
    <div class="card-img-overlay ">
        <div>
            <p class="card-title text-center">Learn More About hosting with <br> HorseBnB</p>
        </div>
        <div>
            <button style="width: 200px; height: 60px;" class="btn bg-white py-2 mt-3">Get Started</button>
        </div>
    </div>
</div>