<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo.svg" alt="Logo">
        </div>
        <div>
            <button class="btn btn-primary" routerLink="/create-your-stalls/step1">Get Started</button>
        </div>
    </div>
</div>
<div class="card intro-horse text-white">
    <img src="../../../assets/banner.jpg" class="card-img" alt="...">
    <div class="card-img-overlay ">
        <div>
            <p class="card-title text-center">Learn More About hosting with <br> HorseBnB</p>
        </div>
        <div>
            <button style="width: 200px; height: 60px;"  (click)="getStarted()" class="btn bg-white py-2 mt-3">Get Started</button>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="card box">
        <div class="">
                <h4>Why Host on <span style="color: red;">HorseBnB</span></h4>
                <p>Host travelers with a guest accommodation listing on HorseBnB. You choose the availability, pricing
                    and
                    how you interact with guests.</p>
            </div>
    </div>
</div>
<div class="row text-center">
    <h2 class="">Hosting in 3 Steps</h2>
    <hr class="hr">
</div>
<div class="container">
    <div class="row my-3 ">
        <div class="col mx-3 mt-2 p-4 card">
            <div>
                <img src="../../../assets/check_circle 2.png" alt="Check">
            </div>
            <h4 class="mt-1">CREATE AN ACCOUNT</h4>
            <p>Create an account using your email address and contact information on the HorseBnB website.</p>
        </div>
        <div class="col-md mx-3 mt-2 p-4 card">
            <div>
                <img src="../../../assets/check_circle 2.png" alt="Check">
            </div>
            <h4 class="mt-1">MAKE A LISTING</h4>
            <p>Take a few pictures and write up a brief description of your facility. Include as much information as you
                can so the guests can see exactly what you have to offer.</p>
        </div>
        <div class="col-md mx-3  mt-2 p-4 card">
            <div>
                <img src="../../../assets/check_circle 2.png" alt="Check">
            </div>
            <h4 class="mt-1">START EARNING MONEY</h4>
            <p>Start hosting other horse lovers and taking advantage of the HorseBnB platform. You can meet new friends
                and earn extra income at the same time!</p>
        </div>
    </div>
</div>
<div class=" row3 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-4">
                <img src="../../../assets/ready_to_learn.png" alt="">
            </div>
            <div class="col-md-4 flex">
                <h5 style="font-size:45px ;">Ready to earn ?</h5>
                <button class="btn bg-white mt-5  " (click)="getStarted()" >Get Started</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>