<app-header></app-header>
<section class="section">
    <div class="container my-3">
        <div>
            <h5>business</h5>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <span><img src="../../../assets/reviews_star_fill.png" class="ms-2" alt="Review Image">4</span>
                <span class="ms-2 text-muted">(1 Reviews)</span>
                <span class="ms-2">mohali,Punjab</span>
            </div>
            <div>
                <img src="../../../assets/share.png" class="ms-2" alt="Share Image">
                <a href="" class="ms-2">Share</a>
            </div>
        </div>
        <div class="row card">
            <div class="col-md-6">
                <img [src]="bookingResult.attributes.publicData.cover_photo.url" alt="" class="w-100 h-100 m-0 p-0">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6" *ngFor="let images of imageArray">
                        <img [src]=images.url alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-8">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>Business hosted by {{bookingResult.attributes.publicData.hosted_by}}</h5>
                    </div>
                    <div><img [src]="bookingResult.attributes.publicData.host_image" alt="" style="width: 35px;height :35px;"></div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/bookings.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Short Term Stall</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/entire_barn.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Friendly and responsive host</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/entire_barn.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Great check-in experience</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/cancellation_policy.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Cancellation policy</h6>
                        <p class="text-muted ms-2">100% refundable if cancelled prior to 24 hours before check in time.
                        </p>
                    </div>
                </div>
                <hr class="my-2">
                <div class="my-3">
                    <h4 class="ms-2">Description</h4>
                    <p class=" ms-2">{{bookingResult.attributes.description}}</p>
                </div>
                <hr class="my-2">
            </div>
        </div>
        <div class="row">
            <h5>Select Check-in Date</h5>
        </div>
    </div>
</section>
<app-footer></app-footer>