.flex{
    display: flex;

}
.booking-data {
    box-shadow: 0 1px 14px rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.add-stalls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-weight{
    font-weight: 300;
}
.border-right{
    border-right: 1px solid rgb(184, 182, 182);
}
.pointer{
    cursor: pointer;
}
.input{
    border: none;
    outline: none;
    width: 100px;
}