<app-header></app-header>
<section class="section">
    <div class="container my-3">
        <div>
            <h5>{{bookingResult?.attributes?.title}}</h5>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <span>
                    <img src="../../../assets/reviews_star_fill.png" class="ms-2" alt="Review Image">4
                </span>
                <span class="ms-2 text-muted">(1 Reviews)</span>
                <span class="ms-2">mohali,Punjab</span>
            </div>
            <div>
                <img src="../../../assets/share.png" class="ms-2" alt="Share Image">
                <a href="" class="ms-2">Share</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img [src]="bookingResult?.attributes?.publicData?.cover_photo.url" alt="" class="w-100 h-100 m-0 p-0">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 my-2" *ngFor="let images of imageArray; let i = index">
                        <img [src]=images.url alt="" style="width: 260px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-8">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>{{bookingResult?.attributes?.title}} hosted by
                            {{bookingResult?.attributes?.publicData?.hosted_by}}</h5>
                    </div>
                    <div><img [src]="bookingResult?.attributes?.publicData?.host_image" alt=""
                            style="width: 35px;height :35px;"></div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/bookings.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Short Term Stall</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/entire_barn.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Friendly and responsive host</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/entire_barn.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Great check-in experience</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="flex">
                    <div>
                        <img src="../../../assets/cancellation_policy.png" alt="">
                    </div>
                    <div>
                        <h6 class="ms-2">Cancellation policy</h6>
                        <p class="text-muted ms-2">100% refundable if cancelled prior to 24 hours before check in time.
                        </p>
                    </div>
                </div>
                <hr class="my-2">
                <div class="my-3">
                    <h4 class="ms-2">Description</h4>
                    <p class=" ms-2">{{bookingResult?.attributes?.description}}</p>
                </div>
                <hr class="my-2">
                <div>
                    <h6>Select Check in Date</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-lg">
                    <div class="p-3">
                        <div>
                            <div class="d-flex justify-content-between">
                                <div class="border w-100 p-3">
                                    <input type="text" class="d-none" id="check-in">
                                    <label for="check-in">CHECK-IN</label>
                                </div>
                                <div class="border w-100 p-3">
                                    <input type="text" class="d-none" id="check-out">
                                    <label for="check-out">CHECK-OUT</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 border" data-bs-toggle="modal" data-bs-target="#stalls-modal">
                            <div class="add-stalls p-3">
                                ADD STALLS
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="px-3 py-1">
                            <div class="f-weight d-flex justify-content-between">
                                <span>Price per night</span>
                                <span>$15</span>
                            </div>
                            <div class="f-weight d-flex justify-content-between">
                                <span>Nights</span>
                                <span>2</span>
                            </div>
                            <div class="f-weight d-flex justify-content-between">
                                <span>Stalls</span>
                                <span>{{stallsValue}}</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>Sub totals</span>
                                <span>$870</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Service fee</span>
                                <span>$113.10</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>Total (USD)</span>
                                <span>$983.10</span>
                            </div>
                            <div class="my-1">
                                <button class="btn btn-danger w-100">Reserve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5>Select Check-in Date</h5>
            <div class="pr-3 pb-3 pe-3 w-auto">
                <bs-daterangepicker-inline [bsValue]="bsInlineRangeValue" class="p-0"></bs-daterangepicker-inline>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h4>Amenities</h4>
                <div class="row">
                    <div class="col-md-4 my-2"
                        *ngFor="let amenitiesItem of bookingResult?.attributes?.publicData?.amenities">
                        <img src="	https://horsebnb.com:8081/assets/img/horse_one.png" alt="">
                        <span class="ms-2">{{amenitiesItem}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <img src="../../../assets/star_s.png" alt="">
                    <span class="ms-2">0</span>
                    <span class="ms-1">(0 Reviews)</span>
                </div>
                <div class="my-2 text-center">
                    No reviews yet
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <h4>Where You'll be</h4>
                <p>{{bookingResult?.attributes?.publicData?.address.location}}</p>
            </div>
        </div>
        <hr>
        <div class="p-2">
            <div class="row">
                <div class="col-md-6 border-right">
                    <div class="d-flex">
                        <div class="card" style="border-radius: 50%;">
                            <img class="p-2" style="width:80px; height:80px; border-radius:50%;"
                                [src]="bookingResult?.attributes?.publicData?.host_image" alt="">
                        </div>
                        <div>
                            <div class="ms-2">
                                <h5>Hosted By {{bookingResult?.attributes?.publicData?.hosted_by}}</h5>
                                <span class="text-muted">Joined on {{bookingResult?.attributes?.publicData?.joined_in |
                                    date }} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div>
                            <img src="https://horsebnb.com:8081/assets/img/security.svg" alt="">
                        </div>
                        <div>
                            <div class="ms-2">
                                <p>To protect your payment, never transfer money or communicate <br> outside of the
                                    HorseBnB website or app.</p>
                            </div>
                            <div>
                                <button class="btn btn-danger">Contact Host</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="viewAll()">View All</button>
            </div>
            <div class="col">
                <h4> {{bookingResult?.attributes?.publicData?.hosted_by}}'s Listings</h4>
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of hostListingData">
                        <div>
                            <img style="width:300px; height:200px;" [src]=item.cover_photo alt="">
                            <div class="my-2">
                                <h6 class="m-0">{{item.type==1 ? 'Short Term':item.type==2 ? 'MonthlyBoard':item.type==3 ? 'Horse Adventure':item.type==4 ? 'Guest Accommodation':""}}
                                </h6>
                                <p>{{item.title}}</p>
                                <div class="d-flex justify-content-end">
                                    <div>
                                        <img src="../../../assets/reviews_star_fill.png" alt="">
                                        <span>{{item.rating}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- add stall Modal -->
<div class="modal fade" id="stalls-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Stalls</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="w-100">
                        <div>
                            stalls
                        </div>
                    </div>
                    <div class="d-flex inc-box justify-content-around w-100">
                        <div>
                            <img src="../../../assets/remove_circle_outline.png" (click)="decCounter()" alt="">
                        </div>
                        <p>{{counter}}</p>
                        <div>
                            <img src="../../../assets/add_circle_outline.png" (click)="incCounter()" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                    (click)="addStalls()">next</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>