<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo.svg" alt="Logo">
        </div>
        <div>
            <button class="btn btn-primary" routerLink="/add-experience/step1">Get Started</button>
        </div>
    </div>
    <div class="container p">
        <div class="row ">
            <div class="col-md-8">
                <h6>HOST ADVENTURES ON HORSEBNB</h6>
                <h5 style="font-size:40px ;">Earn <span style="color: red;">money</span> sharing your <span
                        style="color: red;">horse Adventures</span> with the world.</h5>
                <button class="btn bg-dark" style="color: white;">let's go</button>
            </div>
            <div class="col-md-4">
                <div>
                    <img src="../../../assets/experience_banner.jpg" class="banner" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light shadow-sm my-2">
        <div class="my-4">
            <div class="text-center">
                <img src="../../../assets/logo_experience.png" alt="">
            </div>
            <div class=" text-center">
                <p style="font-size:18px ;">
                    HorseBnB Adventures are horse activities created by horse <br> people for anyone and everyone.
                    Whether you’ve
                    never ridden <br> a horse or you are an experienced horse person, there is a <br> horse adventure
                    for you. All
                    skill levels are welcome <br> with HorseBnB Adventures.
                </p>
            </div>
            <div class="line-box">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="my-5">
            <div class="text-center">
                <h2>How it works</h2>
                <div class="line-box my-2">
                </div>
            </div>
            <div class="text-center my-4">
                <p style="font-size:18px ;">
                    Hosting a horse adventures is simple with HorseBnB. To start <br> hosting follow the simple steps below.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row my-4">
                <div class="col-md-6">
                    <img src="../../../assets/vacation_six.png" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Design your adventure</h4>
                    <p class="my-4">
                        All adventures start with our quality standards. Think about how <br> to engage with guests
                        online
                        and make your adventure stand out <br> from the pack. This includes using high quality pictures
                        and
                        great <br> descriptions to attract customers.
                    </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-6">
                    <h4>Submit your adventure</h4>
                    <p>
                        Click the “Start creating your adventure” button to create your <br> horse adventure listing. Follow
                        the steps to create a listing that <br> includes a complete description of your horse adventure,
                        pictures <br> of your adventure, what’s included, and what guests need to <br> bring.
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="../../../assets/vacation_one.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>