*{box-sizing: border-box;}
.banner{
    // padding: 40px;
    border-radius: 16px;
    width: 400px;
    height: 300px;
}
.p{
    padding: 80px 0px; 
}
.line-box{
    width: 100px;
    height: 2px;
    border: 1px solid red;
    margin: auto;
}