<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo.svg" alt="Logo">
        </div>
        <div>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-6">
        <h4>HOST ADVENTURES ON HORSEBNB</h4>
        <h5 style="font-size:40px ;">Earn <span style="color: red;">money</span>  sharing your <span style="color: red;">horse Adventures</span> with the world.</h5>
        <button class="btn bg-dark" style="color: white;">let's go</button>
    </div>
    <div class="col-md-6">
        <div>
            <img src="../../../assets/experience_banner.jpg" class="banner" alt="">
        </div>
    </div>
</div>