<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 px-5 py-5 steps-frame-height h-md-auto overflow-y-auto">
            <div class="my-2">
                <div>
                    <div class="d-flex justify-content-between">
                        <div class="border form-control w-50 ">
                            <div class="dropdown dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item">Action</a></li>
                                  <li><a class="dropdown-item">Another action</a></li>
                                  <li><a class="dropdown-item">Something else here</a></li>
                                </ul>
                              </div>
                        </div>
                        <div class="border w-50 mx-2 d-flex justify-content-center align-items-center">
                            <span class="">Check-in/Check-out</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="border w-25">
                            <span>Stalls</span>
                        </div>
                        <div class="border w-25">
                            <span>Prices</span>
                        </div>
                        <div class=" w-50">
                           <div>
                            <input type="text" placeholder="location"  class="border">
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center px-md-0 d-none d-md-block">
            <div class="w-100 m-auto">
                <img src="../../../assets/taking_selfie.svg" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>