<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo.svg" alt="Logo">
        </div>
        <div>
            <button class="btn " style="color:red;">Save & Exit</button>
        </div>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-6 px-5 py-5 steps-frame-height h-md-auto overflow-y-auto">
            <div class="p-1">
                <h3>Where is your place located?</h3>
                <p>Please input your exact address. Guests will not be able to see your exact address until they have
                    made a
                    booking.
                </p>
                <div>
                    <button class="btn" style="border: 2px solid red;">
                        <img src="../../../assets/near_me.png" alt="">
                        Use current location
                    </button>
                </div>
                <div class="py-3">
                    <form [formGroup]="addressForm" (ngSubmit)="addAddress(addressForm.value)">
                        <div>
                            <div>
                                <div class="my-3">
                                    <label for="country-region" class="my-1">Country / Region</label>
                                    <select class="form-select" formControlName="country" id="country-region"
                                        aria-label="Default select example">
                                        <option selected disabled>Country/Region</option>
                                        <option value="INDIA">India</option>
                                        <option value="USA">USA</option>
                                        <option value="ENG">ENG</option>
                                    </select>
                                    <small style="color: red;"
                                        *ngIf="addressForm.controls['country']?.hasError('required') && addressForm.controls['country']?.touched">Country/Region
                                        is required
                                    </small>
                                </div>
                                <div class="my-3">
                                    <label for="street" class="my-1">Street Address</label>
                                    <input type="text" placeholder="Street Address" formControlName="street" id="street"
                                        class="form-control">
                                    <small style="color: red;"
                                        *ngIf="addressForm.controls['street']?.hasError('required') && addressForm.controls['street']?.touched">Street
                                        is required
                                    </small>
                                </div>
                                <div class="my-3">
                                    <label for="flat" class="my-1">Flat,Suite (optional)</label>
                                    <input type="text" class="form-control" formControlName="flat" placeholder="Flat,Suite,building">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="width">
                                        <label for="state" class="my-1">State</label>
                                        <input type="text" id="state" formControlName="state" class="form-control"
                                            placeholder="State">
                                        <small style="color: red;"
                                            *ngIf="addressForm.controls['state']?.hasError('required') && addressForm.controls['state']?.touched">State
                                            is required
                                        </small>
                                    </div>
                                    <div class="width">
                                        <label for="city" class="my-1">City</label>
                                        <input type="text" formControlName="city" id="city" class="form-control"
                                            placeholder="city">
                                            <small style="color: red;"
                                            *ngIf="addressForm.controls['city']?.hasError('required') && addressForm.controls['city']?.touched">City
                                            is required
                                        </small>
                                    </div>
                                </div>
                                <div class="my-3">
                                    <label for="postcode" class="my-1">Postcode</label>
                                    <input type="text" id="postcode" formControlName="postcode" class="form-control"
                                        placeholder="postcode"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                        <small style="color: red;"
                                        *ngIf="addressForm.controls['postcode']?.hasError('required') && addressForm.controls['postcode']?.touched">Postcode
                                        is required
                                    </small>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex ">
                                        <img src="../../../assets/arrow_left.png" alt="">
                                        <button class="btn" style="color:red;">back</button>
                                    </div>
                                    <div>
                                        <button type="submit" [disabled]="addressForm.invalid" class="btn btn-danger">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-6 text-center px-md-0 d-none d-md-block">
            <div class="horse-image">
                <img src="../../../assets/horse_image.png" class="image-child my-auto" alt="">
            </div>
        </div>
    </div>
</div>