<div class="bg-white p-3">
    <div class="d-flex">
        <div>
            <img [src]="bgImage" style="width:80px; height:80px; border-radius:50%; " alt="">
        </div>
        <div class="p-2">
            <h6 style="font-size: 25px;">henceforth mohali</h6>
        </div>
    </div>
    <hr>
    <div class="my-1 ps-4">
        <div class="  ul my-3 ">
            <a><img src="../../../assets/dashboard.png" alt="">
                <span class="ms-3" routerLink="/dash-inside">Dashboard</span>
            </a>
        </div>
        <div class="  ul my-3">
            <a>
                <img src="../../../assets/bookings.png" alt="">
                <span class="ms-3" routerLink="/booking-in">Booking</span>
            </a>
        </div>
        <div class="my-3 ul">
            <a><img src="../../../assets/reviews.png" alt="">
                <span class="ms-3" routerLink="/reviews"> Review</span>

            </a>
        </div>
        <div class="my-3 ul">
            <a><img src="../../../assets/transaction.png" alt="">
                <span class="ms-3">Transactions</span>
            </a>
        </div>
    </div>
</div>