<section class="section">
  <div class="container">
    <div class="py-4">
      <button class="button-style ">Short Term Stalls</button>
      <button class="button-style ms-3">Monthly Board</button>
      <button class="button-style ms-3">Horse Experiences</button>
    </div>
    <div class="py-4">
        <div class="row shadow-sm py-4 px-4">
          <div class="col-md-4 border-right">
            <h6>WHERE</h6>
            <input type="text" class="outline-none" placeholder="Anywhere">
          </div>
          <div class="col-md-4 border-right">
            <h6>CHECK IN/CHECK OUT</h6>
            <input type="text"  class="outline-none" placeholder="Add dates">
          </div>
          <div class="col-md-4 d-flex search-btn justify-content-between">
            <div>
              <h6>HORSE STALLS</h6>
              <input type="text" class="outline-none" placeholder="Add stall & guests">
            </div>
           <div>
            <button class="btn btn-danger float-right">Search</button>
           </div>
          </div>
        </div>
    </div>
    <div>
      <h5>
        Explore HorseBnB
      </h5>
      
    </div>
  </div>
</section>