*{box-sizing: border-box;}

.section{
    min-height: calc(100vh - 272px);
}
.button-style{
    background-color: white;
    border: none;
    font-weight:500;
}
.float-right{
    float: right;
}
.outline-none{
    border: none;
    outline: none;
}
.border-right{
    border-right: 2px solid rgb(106, 105, 105);
}
.card-body{
    padding-left: 20px;
    font-weight: 500;
}
.p-right{
    padding-right: 15px;
}
.intro-horse{
    border: none;
}
.card-img-overlay{
    padding: 80px 70px;
}
// .mr1{
//     margin-right: 10px;
// }