<section class="section">
  <div class="container">
    <div class="py-4">
      <button class="button-style ">Short Term Stalls</button>
      <button class="button-style ms-3">Monthly Board</button>
      <button class="button-style ms-3">Horse Experiences</button>
    </div>
    <div class="py-4">
      <div class="row shadow-sm py-4 px-4">
        <div class="col-md-4 border-right">
          <h6>WHERE</h6>
          <input type="text" class="outline-none" placeholder="Anywhere">
        </div>
        <div class="col-md-4 border-right">
          <h6>CHECK IN/CHECK OUT</h6>
          <input type="text" class="outline-none" placeholder="Add dates">
        </div>
        <div class="col-md-4 d-flex search-btn justify-content-between">
          <div>
            <h6>HORSE STALLS</h6>
            <input type="text" class="outline-none" placeholder="Add stall & guests">
          </div>
          <div>
            <button class="btn btn-danger float-right">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h5>
        Explore HorseBnB
      </h5>
    </div>
    <div class="row py-2 ">
      <div class="col-md-4 ">
        <div class=" shadow-sm">
          <img src="../../../assets/explore_one.png" class="card-img-top" alt="One Image">
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between ">
            <div>
              <div class="card-body">Short Term Stalls</div>
            </div>
            <div>
              <img src="../../../assets/forward_arrow.png" class="p-right" alt="Forward Arrow">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="shadow-sm">
          <img src="../../../assets/explore_two.png" class="card-img-top" alt="Two Image">
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between ">
            <div>
              <div class="card-body">Monthly Board</div>
            </div>
            <div>
              <img src="../../../assets/forward_arrow.png" class="p-right" alt="Forward Arrow">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class=" shadow-sm">
          <img src="../../../assets/explore_three.png" class="card-img-top" alt="Three Image">
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between ">
            <div>
              <div class="card-body">Horse Vacations and Experiences</div>
            </div>
            <div>
              <img src="../../../assets/forward_arrow.png" class="p-right" alt="Forward Arrow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  py-3">
      <div class="col-12">
        <div class="card intro-horse text-white">
          <img src="../../../assets/introducing_horsebnb.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h6 class="card-title">INTRODUCING</h6>
            <h2  class="card-title mt-1" style="font-size: 50px;">HorseBnb</h2>
            <button class="btn bg-white py-2 mt-3">About us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

