<app-header></app-header>
<section class="section">
  <div class="container">
    <div class="py-4">
      <button class="button-style ">Short Term Stalls</button>
      <button class="button-style ms-3">Monthly Board</button>
      <button class="button-style ms-3">Horse Experiences</button>
    </div>
    <div class="py-4">
      <div class="row shadow-sm py-4 px-4">
        <div class="col-md-4 border-right">
          <h6>WHERE</h6>
          <input type="text" class="outline-none" placeholder="Anywhere">
        </div>
        <div class="col-md-4 border-right">
          <h6>CHECK IN/CHECK OUT</h6>
          <input type="text" class="outline-none" placeholder="Add dates">
        </div>
        <div class="col-md-4 d-flex search-btn justify-content-between">
          <div>
            <h6>HORSE STALLS</h6>
            <input type="text" class="outline-none" placeholder="Add stall & guests">
          </div>
          <div>
            <button class="btn btn-danger float-right">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h5>
        Explore HorseBnB
      </h5>
    </div>
    <div class="row py-2 ">
      <div class="col-md-4 ">
        <div class=" shadow-sm">
          <img src="../../../assets/explore_one.png" class="card-img-top" alt="One Image">
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between ">
            <div>
              <div class="card-body">Short Term Stalls</div>
            </div>
            <div>
              <img src="../../../assets/forward_arrow.png" class="p-right" alt="Forward Arrow">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="shadow-sm">
          <img src="../../../assets/explore_two.png" class="card-img-top" alt="Two Image">
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between ">
            <div>
              <div class="card-body">Monthly Board</div>
            </div>
            <div>
              <img src="../../../assets/forward_arrow.png" class="p-right" alt="Forward Arrow">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class=" shadow-sm">
          <img src="../../../assets/explore_three.png" class="card-img-top" alt="Three Image">
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between ">
            <div>
              <div class="card-body">Horse Vacations and Experiences</div>
            </div>
            <div>
              <img src="../../../assets/forward_arrow.png" class="p-right" alt="Forward Arrow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  py-3">
      <div class="col-12">
        <div class="card intro-horse text-white">
          <img src="../../../assets/introducing_horsebnb.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h6 class="card-title">INTRODUCING</h6>
            <h2 class="card-title mt-1" style="font-size: 50px;">HorseBnb</h2>
            <button class="btn bg-white py-2 mt-3">About us</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        <h6>Overnight and short term stalls</h6>
      </div>
      <div class="col-12">
        <p class="text-muted">travelling with your horse? Find overnight accommodations for you and your horse</p>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-3 mt-2 ">
        <div class=" shadow-sm">
          <img src="../../../assets/one.png" class="card-img-top" alt="Three Image">
        </div>
        <div class="d-flex py-2 justify-content-between">
          <div class="text-muted">
            Entire horse stalls
          </div>
          <div class="mt-1">
            <img src="../../../assets/star_m.png" alt="">
            <span>4.5</span>
          </div>
        </div>
        <div class="mt-1" style="font-size:20px ;">
          Apple Horse Stall & Guests Stay
        </div>
        <div class="mt-1">
          <span><strong> &#36; 30 /</strong></span> night
        </div>
        <div class="mt-1">
          <span class="text-muted">&#36; 35 total</span>
          <img src="../../../assets/question_mark.png" style="width: 30px; height:30px;" class="ms-2" alt="">
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class=" shadow-sm">
          <img src="../../../assets/two.png" class="card-img-top" alt="Three Image">
        </div>
        <div class="d-flex py-2 justify-content-between">
          <div class="text-muted">
            Entire horse stalls
          </div>
          <div class="mt-1">
            <img src="../../../assets/star_m.png" alt="">
            <span>4.5</span>
          </div>
        </div>
        <div class="mt-1" style="font-size:20px ;">
          Apple Horse Stall & Guests Stay
        </div>
        <div class="mt-1">
          <span><strong> &#36; 30 /</strong></span> night
        </div>
        <div class="mt-1">
          <span class="text-muted">&#36; 35 total</span>
          <img src="../../../assets/question_mark.png" style="width: 30px; height:30px;" class="ms-2" alt="">
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class=" shadow-sm">
          <img src="../../../assets/three.png" class="card-img-top" alt="Three Image">
        </div>
        <div class="d-flex py-2 justify-content-between">
          <div class="text-muted">
            Entire horse stalls
          </div>
          <div class="mt-1">
            <img src="../../../assets/star_m.png" alt="">
            <span>4.5</span>
          </div>
        </div>
        <div class="mt-1" style="font-size:20px ;">
          Apple Horse Stall & Guests Stay
        </div>
        <div class="mt-1">
          <span><strong> &#36; 30 /</strong></span> night
        </div>
        <div class="mt-1">
          <span class="text-muted">&#36; 35 total</span>
          <img src="../../../assets/question_mark.png" style="width: 30px; height:30px;" class="ms-2" alt="">
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class=" shadow-sm">
          <img src="../../../assets/four.png" class="card-img-top" alt="Three Image">
        </div>
        <div class="d-flex py-2 justify-content-between">
          <div class="text-muted">
            Entire horse stalls
          </div>
          <div class="mt-1">
            <img src="../../../assets/star_m.png" alt="">
            <span>4.5</span>
          </div>
        </div>
        <div class="mt-1" style="font-size:20px ;">
          Apple Horse Stall & Guests Stay
        </div>
        <div class="mt-1">
          <span><strong> &#36; 30 /</strong></span> night
        </div>
        <div class="mt-1">
          <span class="text-muted">&#36; 35 total</span>
          <img src="../../../assets/question_mark.png" style="width: 30px; height:30px;" class="ms-2" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>