<app-header></app-header>
<section class="section">
  <div class="container-fluid">
    <div class="p-4">
      <div>
        <span style="font-size:30px ;font-weight:300;">335</span>
        <span style="font-size:30px ;font-weight:300;" class="ms-3">Listing</span>
      </div>
      <div class="my-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">SR.No</th>
              <th scope="col" colspan="3">LISTING</th>
              <th scope="col">TO DO</th>
              <th scope="col">TYPE</th>
              <th scope="col" colspan="3">LOCATION</th>
              <th scope="col">CREATED ON</th>
              <th scope="col"><img src="../../../assets/settings.png" alt=""></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of totalData">
              <th scope="row"></th>
              <td colspan="3">
                <img style="width:45px ;" [src]="data.attributes.publicData.cover_photo?.url" alt="">
                <span class="ms-3">{{data.attributes.publicData.host_bio}}</span>
              </td>
              <td>
                <button class="draft-btn btn" (click)="goToPublish(data.id.uuid)">{{data.attributes.state}}</button>
              </td>
              <td>{{data.attributes.publicData.type==1 ? 'Short Term':'Monthly Board'}}</td>
              <td colspan="3">{{data.attributes.publicData.address.location}}</td>
              <td>{{data.attributes.createdAt | date: 'MMMM d, y'}}</td>
              <td><img src="../../../assets/more_horiz.png" class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"  aria-expanded="false" alt="">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" (click)="editList(data.id.uuid)" >Edit</a></li>
                  <li><a class="dropdown-item" (click)="previewList(data.id.uuid)">Preview</a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="pagination m-auto">
    <ngb-pagination [maxSize]="5" [collectionSize]="total" [(page)]="page" (pageChange)="pageChanged($event)">
    </ngb-pagination>
  </div> -->
</section>
<app-footer></app-footer>

<div>
  <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button> -->
  
</div>