<app-header></app-header>
<div class="text-center">
    <span style="font-size: 40px;">
        About US
    </span>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="img-box">
                <img src="	https://horsebnb.com:8081/assets/img/change_about_us.jpg" style="border-radius: 12px;"
                    alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="p-5">
                <div>
                    <p  style="font-size: 14px;" >HorseBnB was created by horse owners for horse owners and <br> horse enthusiasts. The goal of
                        HorseBnB is
                        to simplify all aspects <br> of horse ownership. We have seen the need for a platform of this <br>
                        type for a
                        long time. After years and years of being on the road <br> with our horses, we realized there has to
                        be a
                        better way to <br> connect horse people with other horse people.</p>
                </div>
                <div>
                    <p  style="font-size: 14px;" >  HorseBnB is the first platform that allows everyone in the horse <br> world to easily connect with
                        one
                        another. We at HorseBnB want <br> everyone who has a horse or a barn to have this App on their <br>
                        phone. We
                        provide solutions for long term <br> board, short term stays, and horse activities. This is just the
                        beginning for HorseBnB. <br> We have great plans of expanding HorseBnB to simplify all other <br>
                        aspects of horse
                        ownership in the future.
                    </p>
                </div>
                <div>
                    <p  style="font-size: 14px;" >HorseBnB all starts with the horse community and we can’t build <br> an online horse community without
                        YOU! If you love the HorseBnB <br> website and App, spread the word to your fellow horse friends <br> and
                        horse family members. The more users HorseBnB has, the <br>  bigger and better the community will be.
                    </p>
                </div>
            </div>
          
        </div>
    </div>
</div>

<app-footer></app-footer>