<div class="container-fluid  shadow-sm p-3 ">
    <div class=" d-flex header  justify-content-between">
        <div>
            <img src="../../../assets/logo_experience.png" alt="Logo">
            <Span class="ms-3" style="font-size:20px; color:red;">Description & title</Span>
        </div>
        <div>
            <button class="btn" style="color:red;">Save & Exit</button>
        </div>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h4>Successful hosting starts with an </h4>
                <h4>accurate calendar</h4>
                <p>
                    Guests will be able to book your listing instantly. By <br> keeping your calendar up to date you
                    will only
                    get bookings <br> when you are able to host. If you make multiple <br> cancellations it could affect
                    your listings
                    ranking and create <br> negative reviews as it causes problems for travellers.
                </p>
                <div>
                    <form>
                        <div>
                            <input type="checkbox" id="checkbox">
                            <label class="ms-2" for="checkbox">Got'it! I'll keep my calendar up to date</label>
                        </div>
                        <div>
                            <div>
                                <hr>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex ">
                                    <img src="../../../assets/arrow_left.png" alt="">
                                    <button class="btn" style="color:red;">back</button>
                                </div>
                                <div>
                                    <button class="btn btn-danger" (click)="next()">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>