li{
    list-style: none;
}
a{
    text-decoration: none;
}
.section{
    min-height: calc(100vh - 271px);
    // padding: 20px;
    background-color: #eee;
  
}
.ul{
    width: 100%;
}
.ul :hover{
    background-color: aqua;
}