<app-header></app-header>
<section class="section">
    <div class="row p-5 container-fluid">
        <div class="col-md-3 p-3">
            <div class="bg-white p-3">
                <div class="d-flex">
                    <div>
                        <img src="../../../assets/five.png" style="width:80px; height:80px; border-radius:50%; " alt="">
                    </div>
                    <div class="p-2">
                        <h6 style="font-size: 25px;">henceforth mohali</h6>
                    </div>
                </div>
                <hr>
                <div class="my-1 ps-4">
                    <div class="  ul my-3 ">
                        <a><img src="../../../assets/dashboard.png" alt="">
                            <span class="ms-3">Dashboard</span>
                        </a>
                    </div>
                    <div class="  ul my-3">
                        <a>
                            <img src="../../../assets/bookings.png" alt="">
                            <span class="ms-3">Booking</span>
                        </a>
                    </div>
                    <div class="my-3 ul">
                        <a><img src="../../../assets/reviews.png" alt="">
                            <span class="ms-3"> Review</span>

                        </a>
                    </div>
                    <div class="my-3 ul">
                        <a><img src="../../../assets/transaction.png" alt="">
                            <span class="ms-3">Transactions</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 p-3">
            <div class="bg-white">
                <div class="pt-4 ps-4">
                    <h6 class="" style="font-size:25px; font-weight: 400;">Dashboard</h6>
                </div>
                <hr>
                <div class="row p-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">BOOKINGS</h5>
                                <div class="d-flex">
                                    <img src="../../../assets/bookings_dashboard.png"
                                        alt="">
                                    <p class="ms-3" style="color:  #00e2a8;">{{booking}}</p>
                                </div>
                                <div class="my-2">
                                    <a>See All Bookings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">EARNINGS</h5>
                                <div class="d-flex">
                                    <img src="../../../assets/earnings_dashboard.png"
                                        style="background-color:#00caed; width:40px; height:40px; border-radius: 6px;"
                                        alt="">
                                    <p class="ms-3" style="color: #00caed;">{{earning}}</p>
                                </div>
                                <div class="my-2">
                                    <a>See All Transactions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">REVIEWS</h5>
                                <div class="d-flex">
                                    <img src="../../../assets/reviews_dashboard.png"
                                        style="background-color: #ffce39; width:40px; height:40px; border-radius: 8px;"
                                        alt="">
                                    <p class="ms-3" style="color:#ffce39">{{reviews}}</p>
                                </div>
                                <div class="my-2">
                                    <a>See All Reviews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mt-3 p-2 bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="pt-4 ps-4">
                        <h6 class="" style="font-size:25px; font-weight: 400;">Bookings</h6>
                    </div>
                    <div>
                        <button class="btn btn-primary">View All Booking </button>
                    </div>
                </div>
                <div class="row  px-1  overflow-auto">
                    <table class="table table-striped ">
                        <thead class="">
                            <tr class="thead">
                                <th>GUEST NAME</th>
                                <th>BOOKINGS</th>
                                <th>LISTING NAME</th>
                                <th>LISTING TYPE</th>
                                <th>CHECK-IN/CHECK-OUT/MONTH</th>
                                <th>STATUS</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="tbody">
                                <td>
                                    <img src="	https://horsebnb.com:8081/assets/img/default.png"
                                        style="width:30px;height:30px;" alt="">
                                    HorseTest
                                </td>
                                <td>1 Room</td>
                                <td>ss</td>
                                <td>Guest Accomodations</td>
                                <td>20 to 30</td>
                                <td style="color:#00e2a8">COMPLETED</td>
                                <td><img src="../../../assets/visibility_on.png" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" mt-3 p-2 bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="pt-4 ps-4">
                        <h6 class="" style="font-size:25px; font-weight: 400;">Earnings</h6>
                    </div>
                    <div>
                        <button class="btn btn-primary">View All Earnings </button>
                    </div>
                </div>
                <div class="row  px-1  overflow-auto">
                    <table class="table table-striped ">
                        <thead class="">
                            <tr class="transactions-thead">
                                <th>SENDER’S NAME</th>
                                <th>TRANSACTION ID</th>
                                <th>DATE & TIME</th>
                                <th>AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="transactions-tbody">
                                <td >
                                    <img src="	https://horsebnb.com:8081/assets/img/default.png"
                                        style="width:30px;height:30px;" alt="">
                                    Horse
                                </td>
                                <td style="color:#00e2a8"># 140</td>
                                <td>Oct 14,2022,1:09:59 PM</td>
                                <td style="color:#107549">$10.17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" mt-3 p-2 bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="pt-4 ps-4">
                        <h6 class="" style="font-size:25px; font-weight: 400;">Reviews</h6>
                    </div>
                    <div>
                        <button class="btn btn-primary">View All Reviews </button>
                    </div>
                </div>
                <div class="text-center my-3">
                    <img src="../../../assets/no_reviews.png" class="no-reviews" alt="">
                    <p class="my-2">No one has reviewed you yet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>