<app-header></app-header>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="my-4">
                    <a>Account</a>
                    <img src="../../../assets/arrow_right.png" alt="">
                    <a>Update Password</a>
                </div>
                <div class="my-3">
                    <h3>Update Password</h3>
                </div>
                <div class="my-2">
                    <h5>Login</h5>
                </div>
                <div class="my-3 card width">
                    <div class="p-3" *ngIf="!passwordShow">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6>Password</h6>
                            </div>
                            <div>
                                <a style="color:red;" (click)="showPasswordBox()">update</a>
                            </div>
                        </div>
                        <div class="text-muted">
                            Last updated 9 months ago
                        </div>
                    </div>
                    <div class="p-3" *ngIf="passwordShow">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6>Password</h6>
                            </div>
                            <div>
                                <a style="color:red;" (click)="hidePasswordBox()">cancel</a>
                            </div>
                        </div>
                        <div>
                            <form [formGroup]="updatePasswordForm"
                                (ngSubmit)="updatePassword(updatePasswordForm.value)">
                                <div class="form-group my-2">
                                    <label for="exampleInputPasswordCurrent" class="text-muted my-1">Current
                                        Password</label>
                                    <input type="password" class="form-control" formControlName="currentPassword"
                                        id="exampleInputPasswordCurrent">
                                </div>
                                <div class="form-group my-2">
                                    <label for="exampleInputPasswordNew" class="text-muted my-1">New Password</label>
                                    <input type="password" class="form-control" formControlName="newPassword"
                                        id="exampleInputPasswordNew">
                                </div>
                                <div class="form-group my-2">
                                    <label for="exampleInputPasswordConfirm" class="text-muted my-1">Confirm
                                        Password</label>
                                    <input type="password" class="form-control" formControlName="confirmPassword"
                                        id="exampleInputPasswordConfirm">
                                </div>
                                <div class="my-2">
                                    <button type="submit" class="btn btn-danger">Update Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="p-4">
                        <div >
                            <img src="../../../assets/change_password.png" alt="">
                        </div>
                        <div class="my-2">
                            <h5>Keeping Your Account Secure</h5>
                        </div>
                        <div class="my-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut commodi, nostrum delectus, autem
                            neque illum culpa beatae a laboriosam nam, quae perferendis? Quidem, fugit, molestias ea quia
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>